<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
</head>
<body ng-app="myApp" ng-controller="maincontroller">
<script src="maincontroller.js"></script>

<input type="" name="" ng-model="nuevocomentario.comentario">
<input type="" name="" ng-model="nuevocomentario.username">
<button ng-click="agregarcomentario()">click</button>
<h3>comentarios</h3>
<li ng-repeat="comentario in comentarios" >
{{comentario.comentario}} <strong>{{comentario.username}}</strong>

	
</li>

</body>
</html>